@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Friz Quadrata TT';
  src: url('../../public/font.otf') format('otf')
}

* {
  /*Find better solution*/
  overflow-x: hidden;
  font-family: 'Friz Quadrata TT';
  color: aliceblue;
}

.container {
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center center;
}



