@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Regural';
  src: url('../../public/font.ttf') format('ttf')
}

.container {
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center center;


  font-family: 'Regural';
  color: aliceblue;
}



