.goodGuess {
    background-color: green;
}

.wrongGuess {
    background-color: red;
}

.midGuess {
    background-color: orange;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.line {
    padding-top: 15px;
    border-bottom: 3px solid white;
}

.guessed-champions td {
/*TODO: make this being separated*/
    border: 1px white solid;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 10px;
}

