.clues-block {
    display: flex;
    justify-content: space-around;
}

.clues-block-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clues-description {
    color: rgb(167, 167, 167);
    font-size: 9.6px;
    text-shadow: rgba(0, 0, 0, 0.3);
}

.clues-title {
    color: #e4e4e4;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
}

.clues-block-holder:hover {
    transform: scale(0.90);
    transition: transform 0.5s;
    cursor: pointer;
}

.clues-text {
    font-size: 27.2px;
}
